
/*GlobalNavigation 밑의 divider. full width divider이다.*/
.global-navigation-divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 78px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

/*GlobalNavigationBar 내용 전체를 감싸는 div. 1200px로 고정되어있고 화면 중앙에 있어야한다.*/
.global-navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1200px;
    height: 78px;
    overflow: visible;
    position: relative;
}

/*GNB 왼쪽 로고와 이름을 표시하는 영역을 감싸는 div*/
.title-and-icon {
    width: 151px;
    height: 78px;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
}


/*로고영역*/
.icon {
    padding-right: 8px;
}

/*홈 이름 영역*/
.title {
    padding-right: 10px;
}

/*GNB에서 왼쪽과 오른쪽 사이를 채워주는 div*/
.middle-space {
    width: 100%;
}

.right-menus {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    margin: 10px 12px 10px 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
}

.menu-hover {
    margin: 20px 10px 20px 10px;
    background: #FFFFFF;
    border-radius: 12px;
}

.menu-hover:hover {
    cursor: pointer;
    background: #EEEEEE;
}
